{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <form id="form">
      <!-- <input type="text" name="message" class="predict-text"/> -->
      <textarea name="message" class="predict-text"></textarea>
    </form>
  
    <div id="messages"></div>
  
    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const nwpSocket = new WebSocket(url)

        nwpSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
              var words = data.message;
              var wordElements = '<button type="button" class="suggestion btn btn-secondary mr-3 first">'+words.join('</button><button type="button" class="suggestion btn btn-secondary mr-3">')+'</button>';
              $('#messages').html(wordElements);

              $('#messages button').on('click', function(e){
                $('.predict-text').val($('.predict-text').val() + ' ' + e.target.textContent);
              });
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            nwpSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
        });

        $('#form textarea').on('keydown',function(e){
          if(e.keyCode == 32 || e.keyCode == 0){
            let message = $('.predict-text').val();
            nwpSocket.send(JSON.stringify({
                'message':message
            }));
          }
        });
    </script>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}
